.f-card {
    display: flex;
    border-radius: 10px;
    align-items: center;
    width: 180px;
    height: 250px;
    background-color: #000;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .f-card {
        width: 100%;
    }
};